<h1>Users</h1>
<table>
  <tr>
    <th>User</th>
    <th>Email</th> 
    <th>Events</th>
    <th>Options</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>Coming soon...</td>
      <% if current_user == user %>
        <td><%= link_to 'Edit', edit_user_registration_path %></td>
      <% end %>
  <% end %>
</table>
